.accordion {
    --bs-accordion-bg: none !important;
}

.accordion-body {
    background: white;
}

.pointer {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.btn-outline-menuSuccess {
    --bs-btn-hover-color: rgba(57, 157, 68, 0.87);
    --bs-btn-hover-bg: none;
}

.btn-outline-warning {
    --bs-btn-hover-color: #ffbc34;
    --bs-btn-hover-bg: none;
}

a {
    text-decoration: none;
}

.login-flex {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.custom-container {
    --bs-gutter-x: 50rem;
}

.custom-card {
    --bs-card-spacer-x: 5rem;
}

.custom-progress-style {
    height: 23.5px;
}

.w-100p {
    width: 100%;
}

.profile-box {
    display: flex;
    justify-content: start;
    margin: 2rem 2rem 2rem 1rem;
}

.profile-box .col {
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.profile-box > .introduce {
    width: 660px;
}

.introduce > div {
    height: 430px !important;
}

tbody > .list-td > td {
    height: 4rem;
}

.text-center {
    text-align: center;
}

.search {
    width: 40% !important
}

.searchBtn {
    width: 6rem;
    cursor: default !important;
}

.active > .page-link {
    background-color: #3f48cc;
    border-color: #3f48cc;
}

.list-footer {
    position: absolute;
    bottom: 8px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-left: 1rem;
}

.list-card-body {
    height: 540px !important;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
    padding: 0;
}
