.accordion {
    --bs-accordion-bg: none !important;
}

.accordion-body {
    background: white;
}

.pointer {
    cursor: pointer;
}

.btn-outline-menuSuccess {
    --bs-btn-hover-color: rgba(57, 157, 68, 0.87);
    --bs-btn-hover-bg: none;
}

.btn-outline-warning {
    --bs-btn-hover-color: #ffbc34;
    --bs-btn-hover-bg: none;
}